*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*this is the page header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;vertical-align: middle;
}

/*this is the header text with the company name*/
.header h1 {
    
    display: inline-block;
    font-size: 48px;
    
}

/*this is the header of the page with the company name text*/
.header h1 .seo {
    color: #d9dcd6;
    
}

/*this is the header menu padding and margin*/
.header div {
    padding-top: 15px;
    margin-right: 100px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    vertical-align: middle;
}

/*this is the header menu text margin and list properties*/
.header div ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;
}

/*this is the header menu text color*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*this is the main page background image parameters*/
.main-background {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*this is the paragraph text font size*/
p {
    font-size: 16px;
}

/*this is the float and margin Left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*this is the float and margin Right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*this is the content parameter for the three sections below the main image*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*this is the content for the first section below the main image*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*this is the background for the first section below the main image*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*this is the background for the second section below the main image*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*this is the background for the third section below the main image*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*this is the image parameter for the first section below the main image*/
.search-engine-optimization img {
    max-height: 200px;
}

/*this is the image parameter for the second section below the main image*/
.online-reputation-management img {
    max-height: 200px;
}

/*this is the image parameter for the third section below the main image*/
.social-media-marketing img {
    max-height: 200px;
}

/*this is the header parameter for the first section below the main image*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*this is the header parameter for the second section below the main image*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*this is the header parameter for the third section below the main image*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*this is the right aside parameter*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*this is the right aside Lead Generation title and text*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}

/*this is the right aside Brand Awareness title and text*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}

/*this is the right aside Cost Benefit title and text*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}

/*this are the right aside icon properties*/
.right-aside-icons {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*this is the footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*this is the footer h2 text*/
.footer h2 {
    font-size: 20px;
}

